<h1>Edit Account</h1>
  <%= form_with model: @user, url: update_account_path do |f| %>
    <p>
    <%= f.label 'name' %><br>
    <%= f.text_field :name %>
    </p>
    <p>
    <p>
    <%= f.submit 'Edit Account' %>
    </p>
  <% end %>